body {
  text-align: center;
  background-image: url('../images/crystalGems.png');
  background-size: 100%;
  background-color: lightgray;
}

img {
  width: inherit;
  max-height: 100px;
  margin: 5px;
}

.image-row {
  height: 140px;
}

.playable {
  background-color: white;
}

.character {
  border: 3px solid green;
}

.enemy-available {
  background-color: red;
}

.current-enemy {
  background-color: gray;
}